/* Centralização do loader */
.loader-container {
    display: flex;            /* Facilita o alinhamento */
    justify-content: center;
    align-items: center;
    min-height: 100vh;        /* Ocupa a altura total da janela */
    width: 100%;
    background: var(--color-background);
}

/* Estilização do loader */
.loader {
    border: 5px solid var(--color-muted);            /* Cor da parte "fixa" do loader  */
    border-top: 5px solid var(--color-primary);      /* Cor da parte giratória */
    border-radius: 50%;                              /* Transforma em círculo */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;              /* Aplica a animação */
}

/* Animação de rotação do loader */
@keyframes spin {
    0% {
        transform: rotate(0deg);     /* Começa sem rotação */
    }
    100% {
        transform: rotate(360deg);   /* Termina uma volta completa */
    }
}