/* Estilização da barra superior - layout principal do header */ 
.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  height: 48px;
  background: var(--color-primary-foreground);
  border-bottom: 1px solid var(--color-border);
  box-shadow: var(--box-shadow);
  position: sticky;     /* Deixa o header fixo no topo ao rolar a página */
  top: 0;               /* Fixa o header no topo da página */
  z-index: 999;         /* Garante que o header fique acima de tudo no site */
}

/* Estilização da parte esquerda do header  */
.header-left {
  display: flex;
  align-items: center;
  gap: 28px;     /* Espaçamento entre os links */
  height: 100%;
}

/* Estilização dos links */
.header-left a,
.logo {
  display: flex;
  align-items: center;
  line-height: 1;     /* Remove o espaçamento vertical extra */
  padding: 0;         /* Remove espaçamento padrão */
  margin: 0;
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;     /* Remove sublinhado dos links */
  transition: color 0.3s, text-shadow 0.3s;     /* Deixa o hover mais suave */
}

/* Efeito do hover nos links */
.header-left a:hover {
  color: var(--color-primary-hover);
  text-shadow: 0 0 6px rgba(100, 108, 255, 0.3);
}

/* Estlizaçãp da parte direita do header */
.header-right {
  display: flex;
  align-items: center;
  height: 100%;
}