.footer {
  background-color: var(--color-background);
  color: #656668;
  padding: 25px 10px;
  border-top: 1px solid #dadce0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', Roboto, sans-serif;
  text-align: left;
}

.footer-content {
display: flex;
justify-content: center;
align-items: flex-start;
gap: 40px;
flex-wrap: wrap;
}

.footer-content p {
  margin: 6px 0;
  font-size: 0.95rem;
}


.footer-sobre {
  color: #9d1ada;
}
.footer-orientador {
  color: #9d1ada;
}

.footer-team p {
  font-weight: 600;
  color: var(--color-foreground);
  margin-bottom: 5px;
  margin-right: 20px;
}

/* Estilo da lista de nomes */
.footer-team ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  margin-top: -5px;
}

.footer-team li {
  font-size: 1rem;
  margin: 3px 0;
}

.footer-professor {
  font-style: italic;
  margin-top: 10px;
  font-weight: 500;
}

.footer-credit {
  margin-top: 12px;
  font-size: 0.85rem;
  font-weight: 500;

}